@import '@/assets/styles/variables';
.repo-preview   {
    $padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    width: calc(100% - $padding);
    padding: 0 $padding;
    height: 100%;
    background: $second-color;
    box-shadow: 0 0 32px -10px #000;
    text-decoration: none;
    position: relative;
    overflow: hidden;

        &::after    {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            clip-path: circle(8.3% at 0 100%);
            width: 100%;
            height: 100%;
            background: #dfdfdf02;
            border: none;
            outline: none;
            transition: clip-path 0.3s linear, background 0.4s ease-in-out;
        }

        &:hover::after  {
            background: #9992;
            clip-path: circle(141.4% at 0 100%);
        }   
    .about   {
        color: #eee;
        flex-grow: 1;
        text-align: center;
        border: none;
        .name   {
            font-weight: bold;
        }
    }

    img {
        height: 80%;
        width: auto;
        object-fit: contain;
        flex-grow: 2;
    }
    &.html  {
        background-color: #ff3300;
        .name   {
            color: $neutral-color
        }

        img {
            filter: drop-shadow(0 0 15px #dd2c00)    
        }
    }  
    &.javascript    {
        background-color: rgba(255, 217, 0, 0.733);
    }
    &.css, &.go   {
        background-color: #1684ce;
        img {
            filter: drop-shadow(0 0 10px #008ee08a)    
        }
    }
    &.rust, &.handlebars, &.markdown  {
        background-color: $neutral-color;
        .about   {
            color: $main-color
        }
    }
    &.vue   {
        background: #02943f;
        img {
            filter: drop-shadow(0 0 10px #005713)    
        }
    }
}